{
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "prettier/prettier": [
        "error",
        {
            "endOfLine": "auto"
        }
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "off"
    }
}